<div class= "fl-<%= favorite_list.id %> fix-layouts-fl">
  <li class= "favorite_list">
    <div class="row">
      <div class="col-md-10">
        <%= link_to favorite_list_path(favorite_list) do %>
          <%= favorite_list.name %>
        <% end %>
      </div>
      <div class="col-md-2 pull-right">
        <% if favorite_list.songs.include?(@song) %>
          <%= link_to favorite_path(favorite_list.favorites.find_by(song_id: @song.id)),
            method: :delete, remote: true do %>
            <div class="btn btn-danger">
              <%= t "views.favorite_lists.favorite.sub" %>
            </div>
          <% end %>
        <% else %>
          <%= link_to favorites_path(favorite_list_id: favorite_list.id, 
            song_id: @song.id), method: :post, remote: true do %>
            <div class="btn btn-primary">
              <%= t "views.favorite_lists.favorite.add" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </li>
</div>
