<div class="container-fluid">
  <div class="row">
    <h3 class="sub-header"><%= t "views.admin.lyrics.index.lyric_list" %></h3>
    <%= form_tag(admin_lyrics_path, method: :get) do %>
      <%= text_field_tag :search, params[:search],
        placeholder: t("views.admin.lyrics.index.find_lyric") %>
      <%= submit_tag t("views.admin.users.index.search"), name: nil %>
    <% end %><br/>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t "views.admin.users.index.stt" %></th>
          <th><%= t "views.admin.lyrics.index.user_name" %></th>
          <th><%= t "views.admin.lyrics.index.song" %></th>
          <th><%= t "views.admin.lyrics.index.status" %></th>
          <th><%= t "views.admin.users.index.created" %></th>
          <th><%= t "views.admin.users.index.edit" %></th>
          <th><%= t "views.admin.users.index.delete" %></th>
        </tr>
        </thead>
        <tbody id="lyric-collection">
        <%= render partial: "lyric", collection: @lyrics %>
        </tbody>
      </table>
      <div id="paginator">
        <%= paginate @lyrics, :remote => true %>
      </div>
    </div>
  </div>
</div>

