<div class="shoes-grid">
  <h3><%= t("views.songs.show.song") + @song.name %> - 
    <%= link_to @song.artist_name, artist_path(@song.album.artist) %></h3>
  <div class="rating-section" data-id= "<%= @song.id %>"
    data-type= "<%= @song.class.name %>">
    <%= render "shared/rating" %>
  </div>
  <div class="audio-player">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @song.cover_image %>
      </div>
      <div class="col-md-8">
        <div class="example1">
          <h3><%= @song.name %></h3>
        </div>
      </div>
    </div>
    <%= audio_tag @song.audio, autoplay: true, controls: true,
      class: "audio-song" %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>
        <%= t "views.songs.show.artist" %>:&nbsp
        <b>
          <%= link_to @song.artist_name, artist_path(@song.album.artist) %>
        </b>
          &nbsp*&nbsp<%= t "views.songs.show.album" %>:&nbsp
          <b><%= link_to @song.album_name, album_path(@song.album) %></b>
      </h5>
      <h5>
        <%= t "views.songs.show.category" %>:&nbsp
        <b>
          <%= link_to @song.category_name, category_path(@song.album.category) %>
        </b>
      </h5>
    </div>
    <div class="col-md-4">
      <h3>
        <span class="pull-right favorite-plus"><i class="fa fa-plus fa-3px"></i>
          <%= t "views.songs.show.add_favorite" %>
        </span>
      </h3>
    </div>
    <div class="col-md-2">
      <h3>
        <span class="pull-left"><i class="fa fa-headphones fa-3px"></i></span>
          &nbsp<%= @song.view %>
      </h3>
    </div>
  </div>
  <div class= "favorite-content">
    <h4>
      <span><i class="fa fa-heart fa-1px"></i></span>
        &nbsp<%= t "views.songs.show.favorite_list" %>
    </h4>
    <ul class= "favorite-item">
      <%= render partial: "favorite_lists/favorite_list",
        collection: @favorite_lists %>
    </ul>
    <ul>
      <%= form_for @favorite_list, remote: true do |f| %>
        <%= f.hidden_field :song_id, value: @song.id %>
        <%= f.label :name, t("views.songs.show.name") %>
        <%= f.text_field :name %>
        <%= f.submit t("views.songs.show.submit"), class: "btn btn-primary" %>
      <% end %>
    </ul>
  </div>
  <div class="lyric-section">
    <% if @lyrics.present? %>
      <div class="lyric-header">
        <div class="row">
        <div class="col-md-4">
          <h4><%= t "views.songs.show.lyric" %>:&nbsp<%= @song.name %></h4>
        </div>
        <div class="col-md-4 text-center">
          <span class= "previus">
            <%= render partial: "shared/previus", locals: {lyric_item: @lyric_item} %>
          </span>&nbsp<%= t "views.songs.show.version" %>&nbsp
          <span class= "count-version">
            <%= @lyrics.index(@lyric_item) + 1 %>
          </span>&nbsp/&nbsp<%= @lyrics.count %>&nbsp
          <span class= "next">
            <%= render partial: "shared/next", locals: {lyric_item: @lyric_item} %>
          </span>
        </div>
        <div class="col-md-4">
          <div class = "pull-right">
            <%= t "views.songs.show.contribute" %>:
            <span class="contribute">
              <%= @lyric_item.user_name %>
            </span>
          </div>
        </div>
        </div>
      </div>
      <div class= "lyric-content">
        <p><%= raw @lyric_item.content %></p>
      </div>
    <% else %>
      <%= t "views.songs.show.dont_have_lyric" %>
    <% end %>
    <div class= "lyric-footer">
      <a data-toggle="modal" data-target="#myModal1">
        <i><%= t "views.songs.show.contribute_lyric" %></i>
      </a>
    </div>
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
              <%= t "views.songs.show.contribute_lyric" %>
            </h4>
          </div>
          <div class="modal-body">
          <%= render "shared/form_lyric" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-section">
    <div class="form-group well">
      <%= form_for @comment, remote: true do |f| %>
        <%= f.hidden_field :commentable_type, value: @song.class.name %>
        <%= f.hidden_field :commentable_id, value: @song.id %>
        <%= f.text_area :content, class: "form-control", 
          placeholder: t("views.songs.show.comment_here") %>
        <div class="submit-comment">
          <%= f.submit t("views.songs.show.submit"), 
            class: "btn btn-primary submit-comment-form" %>
        </div>
      <% end %>
    </div>
    <div class= "comment-content">
      <%= render partial: "shared/comment", collection: @comments %>
    </div>
    <p class="pagination">
      <%= link_to_next_page(@comments, "Next Page", :remote => true) %>
    </p>
  </div>
  <div class="fix-height"></div>    
</div>
<div class="sub-cate">
	<div class="top-nav rsidebar span_1_of_left fix-border-recommend">
	  <h3 class="cate">
	    <%= t "views.songs.show.recommend" %>
	    <label class="switch pull-right">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
	  </h3>
	  <ul>
      <%= render partial: "recommend", collection: @recommends %>
    </ul>
  </div>
</div>
<div class="clearfix"> </div>
<%= javascript_include_tag "autoplay" %>