<li class= "fix-border">
  <div class="row">
    <div class="col-md-1">
      <%= hot_song_counter + 1 %>
    </div>
    <div class="col-md-5">
      <%= link_to song_path(hot_song) do %>
        <%= hot_song.name %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to songs_path(id: hot_song.id), method: :post,
        class: "pull-right" do %>
        <span><i class="fa fa-download fa-2px"></i></span>
      <% end %>
    </div>
    <div class="col-md-2">
      <span class= "pull-right"><%= hot_song.view %></span>
    </div>
  </div>
</li>