<tr>
  <td><%= category_counter + 1 + @offset %></td>
  <td><%= category.name %></td>
  <td><%= category.created_at.strftime("%m/%d/%Y") %></td>
  <td>
    <%= link_to edit_admin_category_path(category) do %>
      <span><i class="fa fa-edit fa-1px"></i></span>
    <% end %>
  </td>
  <td>
    <%= link_to admin_category_path(id: category.id, page: params[:page],
      search: params[:search]), method: :delete,
      data: {confirm: t("views.admin.users.user.your_sure")} do %>
      <span><i class="fa fa-times fa-1px"></i></span>
    <% end %>
  </td>
</tr>
