<ul class="nav nav-sidebar">
  <li>
    <%= link_to t("views.admin.layouts.sidebar.users"), admin_users_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.categories"), admin_categories_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.albums"), admin_albums_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.songs"), admin_songs_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.artists"), admin_artists_path %>
  </li>
  <li>
    <%= link_to t("views.admin.layouts.sidebar.lyrics"), admin_lyrics_path %>
  </li>
</ul>
