<div class="col-md-3 album-item">
  <%= link_to album_path(album) do %>
    <%= image_tag album.cover_image.url %>
  <% end %>
  <h4>
    <%= link_to album_path(album) do %>
      <%= album.name %>
    <% end %>
  </h4>
  <h5>
    <%= t "views.categories.album.name" %>&nbsp
    <%= link_to category_path(album.category) do %>
      <%= album.category_name %>
    <% end %>
  </h5>
  <h5>
    <%= t "views.categories.album.artist" %>&nbsp
    <%= link_to artist_path(album.artist) do %>
      <%= album.artist_name %>
    <% end %>
  </h5>
</div>
