<div class="row result-item">
  <li>
    <div class="col-md-2">
      <%= image_tag result.cover_image %>
    </div>
    <div class="col-md-10">
      <h3><%= result.name %> - <%= result.artist_name %><br/></h3>
      <%= result.category_name %><br/>
      <%= result.album_name %>
    </div>
  </li>
</div>